#headerLinks li, .clearFix, #categoriesTabs, #navBar ul, #modAccesoAbonados li, .paginationResults, #faq .respuestas ul li, #modComprando ul li, .formulario .datos li, .colDatos1 .forgotPass, #finCompraForm .datos fieldset ul, .consultenosMod .wrapConsulta, #modFormacion2 .formacionList li, #modMiMementix ul li, #novedades .description ul li, #tops li, .fichas .modType4 .cursoDet .versiones ul li { height: 1%  }
#navBar ul ul { height: auto  }
#wrapSections li, #modTambien #modCatalogo li, #modResultados form ul li, #modPuedes ul li, #modNovedades .carrousel ul li, #modNovedades .noCar ul li, #modNovedades .consulta ul li { display: inline; }


#home .btn { padding:3px 10px 4px}
	#home .btn .cL { top:12px}
	#home .btn .cR { top:12px}
	#home .noCar .btn .cL { top:0px}
	#home .noCar .btn .cR { top:0px}
	#home #modFormacion .description .btn .cL { top:7px}
	#home #modFormacion .description .btn .cR { top:7px}

#modResultados form button { padding:4px 4px 7px 0px}

#modNovedades { margin-top:-20px}

#modNovedades .consulta ul li.reset { float:none; margin-left:60px}

#moduloDestacadoContenido li { padding: 5px 0 0 15px;   }

#listadoAreas li { display: inline  }


#listadoAreas .verMas { padding: 10px 0 3px 10px;  }
#listadoAreas .area {margin-bottom: -3px;   }

.btnType2 { padding:2px 14px 4px 0;  }		
	.btnType2 span { padding:3px 0 7px 15px;  } 	
	
#busquedaAvanzada form li { display: inline }	

#busquedaAvanzada .termSearch {  padding-left: 127px  }

#definirResultados li  { display: inline  }


#pasosCompra li { display: inline; width: 239px;   }

#cestaCompra .options { bottom: 12px; }

#gridWide .mapaWeb ul li ul li { display:inline}

#newsletter .submit { margin-top:0;}

#busquedaAvanzada .tipoObras select { position: relative;  }				


.ventaCruzadaRecomendacion .btnType2  { padding:2px 10px 3px 0; }
	.ventaCruzadaRecomendacion .btnType2 span { padding:4px 0 6px 15px;  }
	
#faq .respuestas ul li ol { margin-left:23px}

#datosUsuario .volver, #datosFacturacion .volver {float:left; margin: 0; padding-left:0}
#datosUsuario .submit, #datosFacturacion .submit {float:right; margin:0 }

#datosFacturacion fieldset div { margin-top: -4px  }

#gridDatos .colDatos2 ul { margin:18px 0 52px}

#datosPago fieldset .datos input { margin-top: 0   }

#datosPago fieldset .datos .hide { display: none; position: static; overflow: visible; width: auto; height: auto;  }

#datosPago fieldset .datos .numCuenta legend span { margin-left: 0;    }

#datosPago fieldset .datos .datos .numCuenta #banco { margin-left: 93px  }

#datosPago table { margin-top: 20px; padding-top: 0; }

#datosFacturacion form.empresa .datos li.contacto fieldset div { padding-top: 5px  }

#datosFacturacion form.empresa .datos li label { width: 241px;}
#datosFacturacion form.empresa .datos .direccion div { padding-left:254px; }

#datosFacturacion form.empresa .datos .direccion input.text { width: 120px  }

#datosFacturacion form.contactoEmpresa .datos li.direccion legend span { width:255px  }

#datosFacturacion .empresa .condiciones div{ margin-left: 248px  }
		
		#datosFacturacion .contactoEmpresa .condiciones div { margin-left: 273px  }
		
#gridDatos .colDatos1 .submit { margin-bottom: 0  }

#modType2 #ventajasCompra  li { display: inline; }

#tops .tabs li { display: inline; margin-right: 6px}

#finCompraForm .datos fieldset ul li, #modColectivos .description .listColectivos ul li, .otherQuery ul li, .consultenos .listFaq li, .modType4 .descripcion .tabs li, .modType4.cursos .cont ul li { display:inline;}		

#modFormacion .formacionList li { display:inline}
#modFormacion .formacionList .columnType1 h3 { padding-top:5px}
#modFormacion2 .formacionList .columnType1 ul { padding:5px 20px 7px 40px}
#modFormacion .verMas a { display:block; width:130px}

#accesoMementos form li { display:inline}

#modMiMementix { margin:0; padding:0 0 1px 0}
	#modMiMementix ul { margin:-2px 8px 17px 9px/*; padding:0 10px 0px 8px*/}
	
#novedades ul li .action .btnType2 { float:none; margin-left:10px}

.fichas .modType4 .testimonio .botonTestimonio span.mas { padding:4px 5px}

.fichas .cursos .description ul li { display:inline}

.fichas .columnType1 #modFichasPrecio .opinion ul li span { float:left}

.fichas #moduloDestacadoContenido .modConvencerse .verMas a { background-position:85px 30px}
.fichas #moduloDestacadoContenido #modInformacion .verMas a { background-position:108px 30px}

.fichas .precioIva { top:-40px}