<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% include 'EflWebBundle::page_head.html.twig' %}
    {% include 'EflWebBundle::page_head_style.html.twig' %}
    {% include 'EflWebBundle::page_head_script.html.twig' %}
</head>
<body>
{% if location is defined %}
    {{ render( controller( "ezpublish_legacy.website_toolbar.controller:websiteToolbarAction", { 'locationId': location.id} ) ) }}
{% endif %}
{% block header %}
        <header role="banner" class="header">
            {% include 'EflWebBundle::page_header.html.twig' %}
        </header>
{% endblock %}

        <main role="main" id="bodyContent"{% if mainClass is defined %} class="{{ mainClass }}"{% endif %}>
        {% block content %}{% endblock %}
            <section class="genericInfo">
                <div class="wrapper cl">
                    {{ render_esi( controller( 'EflWebBundle:Footer:genericInfo',
                    {'locationId': location is defined ? location.id : 2  }))
                    }}
                </div>
            </section>
            {% block customerServices %}{% endblock %}
        </main>

        <footer role="contentinfo">
            {% include 'EflWebBundle::page_footer.html.twig' %}
        </footer>

{% block footerScript %}
    {% include 'EflWebBundle::page_footer_script.html.twig' %}
{% endblock %}
</body>
</html>
