<article class="basket-gift type2 cl">
    <div class="portrait">
        <img src="images/dummy-images/dummy-portrait-2@2x.png" class="portrait-img">
    </div>
    <div class="main-content">
        <p class="title-gift upper"><b>{{ ez_render_field( content, 'nombre' ) }}</b></p>
        <div class="wysiwyg">
            <p>El ebook más completo sobre la nueva ley del IVA para profesionales y autónomos.</p>
        </div>
    </div>
</article>