{% if products|length %}
<article class="related-items cl">
    <p class="title6">Quien compró este memento también compró</p>

    <div class="tabs-wrap-content cl">
        {% for product in products %}
            {{ render_esi(
                controller(
                    'ez_content:viewLocation',
                    {
                        'locationId': product,
                        'viewType': 'relatedByOrders'
                    }
            ) ) }}

        {% endfor %}
    </div>
</article>
{% endif %}