<form action="" method="post" class="">
    {% if hasResume %}
    <div class="resume">
        {% if not ez_is_field_empty( content, 'texto_oferta' ) %}
        <span class="claim">{{ ez_render_field( content, 'texto_oferta', {'template':'EflWebBundle:fields:only_value.html.twig'}) }}</span>
        {% endif %}

        <ins class="price">{{ ez_render_field( content, 'precio_oferta' ) }}</ins>




        <del class="old-price">antes {{ ez_render_field( content, 'precio' ) }}</del>

    </div>
    {% endif %}

    <table class="tb-formats">
        <caption class="title">{{ ez_render_field( content, 'nombre' ) }}</caption>

        <thead>
        <tr>
            <th>Formato</th>
            <th>Precio</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td class="format">
                <i class="ico ico-paper-white"></i> <span>En papel</span>
            </td>
            <td class="price">
                <b>72,50 &euro;</b>
                <small>+ IVA</small>
            </td>
            <td>
                <div class="prettycheck">
                    <input type="checkbox" id="paper" name="format" value="paper" checked="checked" />
                    <label for="paper"></label>
                </div>
            </td>
        </tr>

        <tr>
            <td class="format">
                <i class="ico ico-pc-white"></i> <span>En internet</span>
            </td>
            <td class="price">
                <ins><b>72,50 &euro;</b></ins>
                <small>+ IVA</small>
                <del>99,70 &euro;</del>
            </td>
            <td>
                <div class="prettycheck">
                    <input type="checkbox" id="pc" name="format" value="pc" />
                    <label for="pc"></label>
                </div>
            </td>
        </tr>
        <tr class="text">
            <td colspan="3" class="wrap-info-text">
                <span class="info-text">Acceda a su Memento siempre que quiera en Internet, siempre actualizados y conectados entre sí con <a href="#qMementix" class="layer-trigger">qMementix</a>.</span>

                <div id="qMementix" class="wrap-layer">
                    <i class="ico ico-arrow-top-layer"></i>
                    <div class="layer">
                        <a href="#" class="close" title="Cerrar"><i class="ico ico-close-gray"></i> <span class="offscreen">Cerrar</span></a>
                        <p class="layer-title">qMementix</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adiiscing elit. Ut vel lacus et lectus ornare pota at quis turpis. Praesent vitae tortor nisl. Integer ac quam neque. Aliquam quis me tus vulputate, laoreet velit non, ornare lecs.</p>
                        <p><a href="#" class="layer-link">Más detalles sobre qMementix</a></p>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td class="format">
                <i class="ico ico-tablet-white"></i> <span>Para iPad</span>
            </td>
            <td class="price">
                <ins><b>72,50 &euro;</b></ins>
                <small>+ IVA</small>
                <del>99,70 &euro;</del>
            </td>
            <td>
                <div class="prettycheck">
                    <input type="checkbox" id="ipad" name="format" value="ipad" />
                    <label for="ipad"></label>
                </div>
            </td>
        </tr>
        <tr class="text last">
            <td colspan="3" class="wrap-info-text">
                <span class="info-text">Sus Mementos en su iPad, con acceso incluso sin conexión a internet a través de <a href="#iMemento" class="layer-trigger">iMemento</a>.</span>

                <div id="iMemento" class="wrap-layer">
                    <i class="ico ico-arrow-top-layer"></i>
                    <div class="layer">
                        <a href="#" class="close" title="Cerrar"><i class="ico ico-close-gray"></i> <span class="offscreen">Cerrar</span></a>
                        <p class="layer-title">iMemento</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adiiscing elit. Ut vel lacus et lectus ornare pota at quis turpis. Praesent vitae tortor nisl. Integer ac quam neque. Aliquam quis me tus vulputate, laoreet velit non, ornare lecs.</p>
                        <p><a href="#" class="layer-link">Más detalles sobre iMemento</a></p>
                    </div>
                </div>
            </td>
        </tr>

        </tbody>
    </table>

    <div class="wrap-btn">
        <button type="submit" class="btn type2 hasIco"><i class="ico ico-arrow-right-white"></i> Comprar ahora</button>
    </div>

</form>

<article class="genericInfo-detail">
    <i class="ico ico-box-gray"></i>
    <div class="cont-text">
        <p class="title">Comprando ahora mismo <br /> <b>lo enviamos gratis</b></p>
    </div>
</article>