#promocionPrimaria { float: left; width: 679px; margin-top: 8px;  padding: 0; border: 1px solid #dcdcdc; background: #eee url(../images/bck_proPrim.png) repeat-x 0 100%; border-bottom-color: #acacac; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;    }
	#promocionPrimaria.wide { float: none; width: auto  } 
	#promocionPrimaria h2 { min-height: 38px; padding: 16px 24px 0 24px;   }
	#promocionPrimaria .wrap { padding-left: 12px; padding-bottom: 12px;  }
	#promocionPrimaria .columnType1 { float: left; width: 428px; padding:20px  26px; background: #fff; -webkit-border-top-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-bottomleft: 10px; border-top-left-radius: 10px; border-bottom-left-radius: 10px;  }
	
	#promocionPrimaria.wide .columnType1 { width:694px } 
	
		#promocionPrimaria .columnType1 .wrapAjaxContent { min-height:190px;}
		#promocionPrimaria .columnType1 .media { float: left; width: 222px; padding: 0 }
		#promocionPrimaria .columnType1 .description { padding: 0 8px 0 0}
		#promocionPrimaria .columnType1 .fix { position: absolute; top: 0; left: 0; width: 741px; height: 7px; background: url(../images/curve_supWrDestacado.gif) no-repeat 0 0 }
		#promocionPrimaria .columnType1 ul { margin: 6px 0; padding: 0; list-style: none  }
			#promocionPrimaria .columnType1 li { margin: 0; padding: 4px 0 4px 30px; background: url(../images/bullet_pPrimaria.gif) no-repeat 0 0  }
	#promocionPrimaria .columnType2 { float: right; width: 186px; padding-top: 0; border-right: 1px solid #DCDCDC }
		#promocionPrimaria .columnType2 ul { margin: 0; padding: 0; list-style: none;}
			#promocionPrimaria .columnType2 li { margin: 0; padding: 7px 0 7px 15px; border-bottom: 1px solid #B2B2B2 }
			#promocionPrimaria .columnType2 li.sel { border-bottom: none; background: #fff url(../images/bck_pPrimariaS.gif) no-repeat 0 0 }
			
	#bodyContent #promocionPrimaria .object-left { margin-right: 15px }		
		#promocionPrimaria .object-left img { margin-right: 0 }	
	
	#promocionPrimaria .verVideo { display: block; margin: 20px 0; text-align: center } 	
		#promocionPrimaria .verVideo a { padding: 3px 0 3px 25px; background: url(../images/bck_verVideo.png) no-repeat 0 50% } 	
	

#formPrueba { float: right; width: 236px; margin-top:8px;  padding: 10px; background: #0b62a2; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
	
	#formPrueba	.inner { margin-top:12px; padding: 10px; background: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  }
	#formPrueba ul { margin: 10px 0; padding: 0; list-style: none }
		#formPrueba li { margin: 0 0 10px; padding: 0; background: none }
			#formPrueba .msgError li { padding: 4px 0 4px 30px;  background: url("../images/bullet_pPrimaria.gif") no-repeat 0 3px;  }
		#formPrueba .submit { display: block; text-align: center }
		#formPrueba .text { width: 100%; height: 18px; border: 1px solid #abadb3 }
		#formPrueba select { width: 100% }
		#formPrueba .acepto label, #formPrueba .acepto input { vertical-align: middle }


#gridHome1 { margin-bottom: 18px; margin-top:12px  }			
	#gridHome1 .wrap { position: relative; padding: 0 10px; background: #9f9f9f url(../images/bck_wrapGridHome1.gif) repeat-x 0 0   }			
	#gridHome1 .columnType1 { float: left; width:680px;  }	
		#gridHome1 .columnType1 h2 {  padding: 16px 10px 5px 10px; background: #828282 url(../images/curve_sup-dinosBuscador.gif) no-repeat 0 0 } 					
		/*#gridHome1 .columnType1 .wrap .fix { position: absolute; bottom: -3px; left: 0; width: 680px; height: 11px; background: url(../images/curve_inf-dinosBuscador.gif) no-repeat 0 0  }*/	
	#gridHome1 .columnType2 { float: right; width: 256px; padding:0 0 10px 0; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background: #828282  }			
		#gridHome1 .columnType2 h2 {  padding: 16px 10px 5px 10px; } 
		#gridHome1 .columnType2 .wrap { background: none }
		/*#gridHome1 .columnType2 .wrap .fix { position: absolute; bottom: -3px; left: 0; width: 256px; height: 10px; background: url(../images/curve_inf-sabes.gif) no-repeat 0 0  }	*/
		
		
		#modResultados { background:url(../images/bck_modResultados.gif) no-repeat 0 0; padding:0}
			#modResultados form { padding:10px}
				#modResultados form ul { margin:0 0 17px 0; padding:0}
					#modResultados form ul li { display:inline-block; margin:0 50px 0 0; padding:0}
						#modResultados form ul li label { padding:5px 0 15px 30px}
						#modResultados form ul li select { width:150px}
						#modResultados form ul li.uno label { background:url(../images/ico_num1.gif) no-repeat 0 0}
						#modResultados form ul li.dos label { background:url(../images/ico_num2.gif) no-repeat 0 0}
						#modResultados form ul li.tres { margin:0}
							#modResultados form ul li.tres label { background:url(../images/ico_num3.gif) no-repeat 0 0}
				#modResultados form button { background:url(../images/btn_resultados.gif) no-repeat 0 0; cursor:pointer; padding:4px 34px 7px 8px; /*padding:3px 21px 8px 8px;*/ border:none}
							
		#modPuedes { background:url(../images/bck_modPuedes.gif) no-repeat 0 0; padding:0; margin-bottom:11px}
			#modPuedes ul { margin:0; padding:0}
				#modPuedes ul li { margin:0; padding:16px 30px 16px 40px; display:inline-block}
					#modPuedes ul li.reset { padding:16px 20px 16px 10px}
					#modPuedes ul li.buscar { background:url(../images/ico_buscaCont.gif) no-repeat 15px 12px}
					#modPuedes ul li.conocer { background:url(../images/ico_fechas.gif) no-repeat 15px 14px}
					
		
		#tabsNov:after { clear: both; display: block; height: 0; visibility: hidden; content: "."  }			
		#tabsNov { margin: 13px 0 0; padding: 0; list-style: none }
			#tabsNov h3, #tabsNov a { padding: 10px 16px 7px; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; font-size:17px } 
			#tabsNov li { float: left; margin: 0 2px 0 0; padding: 0; background: none; }			
				#tabsNov h3 { background: #fff; color:#00528d  }
				#tabsNov a { display: block; background: #c6c6c6; font-weight: bold }
					#tabsNov a:hover { background: #fff }
		
		#modNovedades span.comments { display: block; margin-top: 10px; width: 100% }			
			#modNovedades span.comments span { display: inline; padding: 4px 0 4px 20px; font-weight: normal; color:#333; background: url(../images/ico_comentarios.png) no-repeat 0 0 }			
		
		#modNovedades { min-height:315px; background-color:#fff; padding:15px 20px}
			#modNovedades .multim { min-height:160px;}
			#modNovedades .carrousel ul { margin:0; padding:15px 0; /*padding:15px 0 15px 25px*/}
			#modNovedades .noCar ul { margin:0; padding:15px 0 11px}
				#modNovedades .carrousel ul li { position: relative; margin:0 25px 0 0; padding:0; display:inline-block; width:170px}
				#modNovedades .noCar ul li { display:inline-block; position:relative; width:140px; margin:0 15px 0 0; padding:0; vertical-align:top;}
					#modNovedades .oferta { position:absolute; top:-10px; left:60px; margin:0}
					#modNovedades .noCar .pruebalo, #modNovedades .noCar .reset .pruebalo { position:absolute; top:-10px; left:60px; margin:0}
					#modNovedades .noCar .margen { margin-bottom:10px; display:block}
					#modNovedades .carrousel ul li.reset, #modNovedades .noCar ul li.reset { margin:0}
					#modNovedades h4 { margin-bottom:10px}
					#modNovedades img { vertical-align:middle; margin:10px 0}
					#modNovedades .noCar img { margin:10px 37px 10px 0}

					#modNovedades .noCar a img { margin:10px 0 10px}
			#modNovedades .consulta { border-top:2px solid #c6e7ff; padding:10px 0 0}
				#modNovedades .consulta ul { margin:0; padding:0}
					#modNovedades .consulta ul li { margin:0; padding:5px 0 1px 22px; display:inline-block; background:url(../images/ico_conozca.gif) no-repeat 0 0}
						#modNovedades .consulta ul li.reset { margin:0; background:none}
							#modNovedades .consulta ul li.reset span { display:inline}
				
		.modTambien { position: relative; margin-bottom: 4px; padding: 10px; background: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;   }
		.modAbonados { background: #fefefe url(../images/bck_abonadosHome.gif) repeat-x 0 100% ; }
			.modTambien .module { padding: 6px 0 7px 0; border-bottom: 1px solid #b2b2b2 }
			.modTambien h3 {  padding: 5px 0 5px 22px; margin:2px 0  }
				.modTambien #modSoyAbonado { padding-top: 0  }
					#modSoyAbonado h3 { background: url(../images/ico_soyAbonado.gif) no-repeat 0 5px   }
					#modSoyAbonado .verMas { display: inline-block; margin-right:6px; margin-bottom:5px  }
				.modTambien #modSoyCliente { padding-top: 3px  }
					#modSoyCliente h3 { background: url(../images/ico_soyCliente.gif) no-repeat 0 5px  }
					#modSoyCliente .verMas { position: relative; left: 55px; width: 100px; margin-top:-18px;  }
				#modCatalogo h3 {  background: url(../images/ico_nuestroCatalogo.gif) no-repeat 0 4px }
				#modCatalogo ul { margin: 3px 0 0 0; padding: 0; list-style: none  }
					#modCatalogo li {  margin: 0; padding: 0 0 0 11px; vertical-align: top; background: url(../images/bullet_arrow.png) no-repeat 0 5px  }				
					#modCatalogo li.type2 { width:109px  }
				#modAreas h3 { background: url(../images/ico_areas.gif) no-repeat 0 3px  }
				#modAreas select { margin-top:3px  }
				
				#modNecesitas { border-bottom: none }
				#modNecesitas h3 {  background: url(../images/ico_necesitas.gif) no-repeat 0 3px }
				#modNecesitas ul, .modTambien #modNecesitas li { margin:0 0 5px; padding: 0; list-style: none  }
				#modNecesitas ul { margin:4px 0 0;}
				#modColectivos h3 {  background: url(../images/ico_colectivos.gif) no-repeat 0 5px }
				#modNecesitas a { color:# }
			.modTambien p { margin-bottom:5px }		
				.modTambien #modSoyCliente p { margin-bottom:2px }		
			.modTambien .reset { border-bottom: none  }
			
			
#home #modFormacion { width: 949px; margin-bottom: 20px; padding: 0;  }
	#home #modFormacion h2 { height:27px; padding: 14px 0 0 13px; background: url(../images/bck_titFormacion.gif) no-repeat 0 0 }
	#home #modFormacion .grid { position: relative; padding:0 9px 11px 12px; background:#0F68AA url(../images/bck_formacion.gif) repeat-x 0 0   }
	
	#home #modFormacion .grid .fix { position: absolute; bottom: -3px; left: 0; width: 949px; height: 9px; background: url(../images/curve_modFormacion.gif) no-repeat 0 0 } 
		#home #modFormacion .grid .description .fix { bottom: -3px; left: 0; width: 836px; height: 8px; background: url(../images/curve_descriptionFor.gif) no-repeat 0 0 } 
		#home #modFormacion .description ul { margin: 8px 0; padding: 0; list-style: none; background: url(../images/bck_dot.gif) repeat-x 0 100%  }
			#home #modFormacion .description li { margin: 0; padding: 7px 0; background: url(../images/bck_dot.gif) repeat-x 0 0  }
				#home #modFormacion .description li .date { padding: 0 8px  }
				#home #modFormacion .description li img { padding-left: 8px; vertical-align: middle  }
				#home #modFormacion .description .btn { margin-left:10px}
	
	
	#tiposFormacion { float: left; width: 92px; padding: 0;  }
		#tiposFormacion ul { margin: 0; padding: 0; list-style: none  }
			#tiposFormacion li { margin: 0; padding: 6px 0 9px 4px; border-bottom:1px solid #B7D6EC}
				#tiposFormacion li.sel { background: url(../images/bck_tiposSel.gif) no-repeat 0 0; border-bottom: none; min-height:28px }
	#home #modFormacion .description { position: relative; float: right; width: 810px; min-height: 133px; padding: 7px 10px 17px 16px; background: #fff url(../images/curve_descriptionFor2.gif) no-repeat 100% 0     }		
	#home #modFormacion .description h3 { margin-bottom: 3px }
	
	#gridHome2 { margin-bottom: 18px  }
	#modDestacados { float: left; width:329px; padding: 0;    }
		#modDestacado { padding-top: 0; background: #FAA635 url(../images/bck_modDestacado.gif) no-repeat 0 100%;  } 
		#modDestacado h2 { padding: 10px 0 0 10px; background: url(../images/curve_supDestacado.gif) no-repeat 0 0 } 
		#modDestacado .wrap { position: relative; margin-top:5px; margin:5px 10px 10px 10px; padding: 10px; background: #fff url(../images/curve_wrapDes.gif) no-repeat 0 0 } 
			#modDestacado .wrap .fix { position: absolute; bottom: -3px; left: 0; width: 309px; height: 8px; background: url(../images/curve_wrapDesInf.gif) no-repeat 0 0 } 
		#modDestacado .wrap img { float: left } 
		#modDestacado .wrap p { margin-left:129px} 
		#modDestacado .wrap span { display: inline-block; background:url(../images/btn_ver.gif) no-repeat 0 0; padding:10px 15px; cursor:pointer; margin-left:125px}
			#modDestacado .wrap span a { text-align:center}
			
		#home .btnAlign { text-align:right; clear:both;}
		#home #modDestacado .wrap span.button { width:auto; margin-left:0; padding:0 16px 0 0; background:url(../images/btn_ver-curve.png) no-repeat 100% 0;}
			#home #modDestacado .wrap span.button a { display:block; padding:10px 0 10px 15px; background:url(../images/btn_ver.png) no-repeat 0 0;}
	
	#modSage { position: relative; margin-top: 13px; padding: 11px; border: 6px solid #ddefe9; background: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }		
	#modSage p { width: 198px; margin-bottom: 7px }		
		#modSage span { display: block }
			#modSage span a { padding-right: 1.3em; background: url(../images/ico_verMas2.png) no-repeat 100% .3em }
		#modSage .fix { position: absolute; right: -6px; bottom: -8px; width: 86px; height: 72px; background: url(../images/txt_sage.gif) no-repeat 0 0 }	
			
	#modSage { position: relative; margin-top: 13px; padding: 11px; border: 6px solid #ddefe9; background: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }	
		#modSage p { width: 198px; margin-bottom: 7px }		
		#modSage span { display: block }
			#modSage span a { padding-right: 1.3em; background: url(../images/ico_verMas2.png) no-repeat 100% .3em }
		#modSage .fix { position: absolute; right: -6px; bottom: -8px; width: 86px; height: 72px; background: url(../images/txt_sage.gif) no-repeat 0 0 }	
			
	#modActum { float: right; width:605px; min-height: 207px; padding: 0 0 11px 0;  background: #DCDCDC url(../images/bck_modActum.gif) no-repeat 0 100%  }
		#modActum h2 { margin-bottom: 9px; padding: 16px 0 0 44px; background: url(../images/curve_supActum.gif) no-repeat 0 0 }
			#modActum #categoriesTabs { float: left; width: 390px; margin: 0 0 0 13px  }
				#modActum #categoriesTabs .wrap { position: relative; min-height: 97px; padding: 16px 0 12px 26px;  }
			
			#modActum #categoriesTabs .wrap ul { width: 349px; margin: 0; padding: 0; list-style: none; background: url(../images/bck_dot.gif) repeat-x 0 100% }
			#modActum #categoriesTabs .wrap ul.wrapAjaxContent { min-height:86px}
			#modActum #categoriesTabs .wrap li { margin: 0; padding: 7px 0; background: url(../images/bck_dot.gif) repeat-x 0 0}
			
			#modMemGrat { float: right; width:181px;  margin-right: 13px; margin-top: -37px; padding: 0   }
				#modMemGrat img { margin-bottom: 9px  }
				#modMemGrat .inner {min-height: 170px; padding: 10px; background: #fff; border: 1px solid #c1c1c1 }
					#modMemGrat h3 { margin-bottom: 3px }
					#modMemGrat p { margin-bottom: 4px  }
					#modMemGrat ul, #modMemGrat li { margin: 0; padding: 0; background: none }
						#modMemGrat .msgError li { padding: 4px 0 4px 30px;  background: url("../images/bullet_pPrimaria.gif") no-repeat 0 3px;  }
					#modMemGrat li { margin-bottom: 4px }
					#modMemGrat .submit { display: block; margin-top: 10px; text-align: center }
					#modMemGrat .text { width: 100%; height: 16px; border: 1px solid #aaadb2; }
					#modMemGrat select { width: 100% }


#modSusc { position: relative; margin-top:11px; padding: 11px; background: #c6e7ff; border: 2px solid #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  }
	#modSusc .inner { margin-top:12px; padding: 10px; background: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  }
		#modSusc .tit { margin-left: 53px }
		#modSusc label { display: inline; vertical-align: middle }
		#modSusc input { vertical-align: middle }
		#modSusc .text { width:173px; height: 16px; margin:0 10px 0 5px; border:1px solid #abadb3 } 
		#modSusc select { width: 180px; margin-left: 5px }
	#modSusc .fix { position: absolute; left: 19px; top:-5px; width: 34px; height: 36px; background: url(../images/bck_modSusc.png) no-repeat 0 0  }	


#promocionPrimaria.type2 { background:#ffb527 url(../images/bck_proPrim2.png) repeat-x 0 100%   }
	#promocionPrimaria.type2 h2 { text-align: center; color:#211200; font-size:27px; font-weight:bold  }
	#promocionPrimaria.type2 .wrap { padding: 12px  }
		#promocionPrimaria.type2 .columnType1 { width: auto; padding: 20px 16px }
		#promocionPrimaria.type2 .columnType1 li { padding: 4px 0 4px 20px; background-image:url(../images/bullet_pPrimaria2.gif); background-position: 0 5px  }
			#promocionPrimaria.type2 .columnType1 li strong { font-size:16px }
		#promocionPrimaria.type2 .wrapDesc { float:left; width: 360px }	
			#promocionPrimaria.wide .wrapDesc { float:left; width: 630px }	
		#promocionPrimaria.type2 .wrapDesc .clearFix { margin-left: -7px }
			#promocionPrimaria.wide .wrapDesc .clearFix	{ margin-left: 0 }
		#bodyContent #promocionPrimaria.type2 .wrapDesc .object-left { margin-right: 7px }
		
		
#promocionPrimaria.type3 { background:#fff  }
	#promocionPrimaria.type3 h2 { text-align: left; color:#3c3c3c; font-size:22px; font-weight:normal; min-height: 1px; padding: 16px 14px 0;  }
	#promocionPrimaria.type3 .wrap { padding: 0 12px 12px  }	
	#promocionPrimaria.type3 .columnType1 { width: auto; padding: 0 }	
	#promocionPrimaria.type3 .description { padding: 0  } 
	
#promocionPrimaria .car { margin: 0; padding: 0; list-style: none }	
	#promocionPrimaria li.item {width:653px;  padding: 0; background: none; border: 1px solid #e7e7e7  }	

#promocionPrimaria .info { margin-top: 5px; padding: 7px 17px }
	#promocionPrimaria .info div { padding: 0 }
#promocionPrimaria .pvp { display: block; margin-bottom: 10px; font-size: 20px;  }
	#promocionPrimaria .precio { padding-top:10px; color: #00674e;  }
		#promocionPrimaria .precio span { text-decoration: line-through  }
	#promocionPrimaria .oferta { color: #990000; }
	
#promocionPrimaria .info .frt a { padding-left: 10px }	


#promocionPrimaria .jcarousel-clip  { margin: 0 }

#promocionPrimaria li.jcarousel-item { height:390px;}

	#promocionPrimaria li.jcarousel-item li { float: none; width: auto; height: auto }


#promocionPrimaria .jcarousel-next-horizontal { position: absolute; top: 134px; right: -25px; width: 41px; height: 42px; cursor: pointer; background: transparent url(../images/bck_arrow-next.png) no-repeat 0 0; z-index:1000; -webkit-transform: translateZ(0)}

#promocionPrimaria .jcarousel-clip { width:655px;}

#promocionPrimaria .jcarousel-prev-horizontal { position: absolute; top: 134px; left: -25px; width: 41px; height: 42px; cursor: pointer; background: transparent url(../images/bck_arrow-prev.png) no-repeat 0 0; z-index:1000; -webkit-transform: translateZ(0)}


#promocionPrimaria .jcarousel-next-disabled-horizontal, #promocionPrimaria .jcarousel-next-disabled-horizontal:hover, #promocionPrimaria .jcarousel-next-disabled-horizontal:active, #promocionPrimaria .jcarousel-prev-disabled-horizontal, #promocionPrimaria .jcarousel-prev-disabled-horizontal:hover, #promocionPrimaria .jcarousel-prev-disabled-horizontal:active {    cursor: default;  background-position: -96px 0; }

.imgModuloDest { position: relative; color:#fff; padding: 0; text-align: center }
	.imgModuloDest .txt { position: absolute; bottom: 0; left: 0; width: 621px; height: 43px; padding: 16px; background: url(../images/bck_txt.png) repeat 0 0; text-align: left }
	.imgModuloDest h3 { margin-bottom: 5px; font-size:22px; font-weight: normal }
	.imgModuloDest a {font-size:22px; color:#fff; text-decoration: none }
		.imgModuloDest a:hover { text-decoration: underline }
	.imgModuloDest p { font-size:16px }
	
#promocionPrimaria video { -webkit-transform-style: preserve-3d; }	
	#promocionPrimaria.type3 object, #promocionPrimaria.type3 video { margin:0 auto  }