<div class="layer">
    <p class="layer-title">¿Necesita ayuda?</p>
    <p class="hasIco">
        <i class="ico ico-mail-gray"></i>
        <span>Si tiene dudas póngase en contacto con nosotros a través de <a href="mailto:clientes@efl.es">clientes@efl.es</a> o mediante la <a href="{{ path( 'ez_urlalias', {'locationId': efl_contacto_location_id} ) }}">página de contacto</a>.</span>
    </p>

    <p class="hasIco">
        <i class="ico ico-phone-gray2"></i>
        <span>Lo más rápido es llamarnos al <b>912 108 000</b> le atenderemos de 9:00h a 20:00h de Lunes a Viernes.</span>
    </p>

</div>