<article class="customerServices-detail shipping">
    <p class="txt">Envío y Devoluciones</p>
    <div class="intro">
        <p>Le damos todas las facilidades para comprar nuestros producto, envío gratis a partir de 30€ y período de devolución de dos meses si no queda satisfecho.</p>
    </div>
    <ul>
        <li><i class="ico ico-arrow-right-blue"></i> <a href="{{ path( 'ez_urlalias', {'locationId': efl_contacto_location_id} ) }}">Contacte con nosotros</a></li>
        <li><i class="ico ico-arrow-right-blue"></i> <a href="{{ path( 'ez_urlalias', {'locationId': efl_faqs_location_id} ) }}">Preguntas frecuentes</a></li>
    </ul>
</article>