/*#wrapper { width:94.6em;}
	#wrapper.page404, #home #wrapper { width:100.6em;  }
#subNavBar { width: 34.8em;  }
#content { width: 59.2em;  }
#gridBanners { padding-bottom: .5em }*/



/********/

/*#wrapper{width:953px}*/

.homeMementos #areaAbonados .columnType2 ul { margin:0 0 24px;}


