.qmementix{}
	.qmementix .modType4{background-image:url(../images/curve_modType4Fichas-top.png);}
		.qmementix .fichas .modType4 .imprimir a{background-image:url(../images/print_imemento.gif);}
				.qmementix .modType4 .descripcion .tabs li .cL{background-image:url(../images/curve_type1-left.gif);}
				.qmementix .modType4 .descripcion .tabs li .cR{background-image:url(../images/curve_type1-right.gif);}
				.qmementix .modType4 .descripcion .tabs li.sel .cL{background-image:url(../images/curve_type1-left-sel.gif);}
				.qmementix .modType4 .descripcion .tabs li.sel .cR{background-image:url(../images/curve_type1-right-sel.gif);}
			.qmementix .modType4 .descripcion .fix{background-image:url(../images/curve_modType4Fichas-bot.gif);}
		.qmementix .modType4 .fix{background-image:url(../images/curve_modType4Fichas-bot2.gif);}
	#iMementoDest{margin:15px 0;padding:15px;border-radius:10px;background-color:#c7e7ff;box-shadow:0 1px 3px rgba(0,0,0,0.25)}
		#iMementoDest .logo{margin-bottom:15px;}
		#mycarousel{width:640px;float:left}
		#iMementoDest .carrusel{margin:0 0 15px;padding:0;list-style-type:none;}
		.qmementix .jcarousel-clip{margin:0;width:auto}
		.qmementix .jcarousel-control{display:none;float:right;margin-top:-35px}
			.qmementix .jcarousel-control a{float:left;display:block;width:14px;height:14px;margin-top:4px;margin-left:10px;border-radius:50%;background-color:#FFFFFF}
			.qmementix .jcarousel-control a.sel{width:21px;height:21px;border:1px solid #80B2D5;margin-top:0;background-color:#00528d}
				.qmementix .jcarousel-control span{display:none;text-indent:-9999px;}
			#iMementoDest .carrusel li{margin:0;padding:0;width:640px;height:auto}
				#iMementoDest .carrusel .multimedia{margin-bottom:10px;}
				#iMementoDest .carrusel h3{margin-bottom:10px;font-size:20px;font-weight:bold;color:#000;}
				#iMementoDest .carrusel p{font-size:14px;color:#000;}
		#iMementoDest .infoDest{float:right;width:260px;margin:-45px 0 15px}

			#iMementoDest .tryPromo{position:relative; width:285px; margin-bottom:15px;border:3px solid #0a649c;border-right:none;border-radius:13px 0 0 13px;color:#fff;background-color:#0087c0;}
		#iMementoDest .tryPromo .shadow { position:absolute; right:0; top:-18px; width:10px; height:70px; background:url(../images/bck_tryProd.png) right 0 no-repeat; }
		#iMementoDest .tryPromo.sel .shadow { position:absolute; right:0; top:-18px; width:10px; height:465px; background:url(../images/bck_tryProd_b.png) right 0 no-repeat; }
				#iMementoDest .tryProd{display:block;border:2px solid #fff;border-right:none;border-radius:11px 0 0 11px;font-size:14px;text-align:left;color:#fff;}
				#iMementoDest .tryProd span {padding-left:25px; background:url(../images/bck_info.png) 5px 0 no-repeat; }
				#iMementoDest .tryProd.sel{background:none;border:0;padding-top:10px;background:url(../images/tab-close.gif) 97% 80% no-repeat;}
				#iMementoDest .tryProd.sel span { padding-left:20px; background-image:none; }
					#iMementoDest .tryProd strong{font-size:18px;}
					#iMementoDest .tryProd.sel strong{font-size:14px;font-weight:normal;}
				#frm_tryImemento{margin:15px 15px 0;border-top:1px solid #006490;background-color:#0087c0;}
					#frm_tryImemento fieldset{padding:15px 0;border-top:1px solid #59b1d6;}
						#frm_tryImemento .requiredText{display:block;text-align:right;}
						#frm_tryImemento label{margin-bottom:10px;font-size:13px;font-weight:bold;color:#fff;}
							#frm_tryImemento label input{display:block;width:100%;height:23px;margin-top:2px;border:1px solid #93cce4;border-width:0 0 1px;}
						#frm_tryImemento .check{margin-top:10px; font-weight:normal;}
							#frm_tryImemento .check input{display:inline;width:auto;height:auto;margin:0 5px 0 0;border:0;}
							#frm_tryImemento .check a{font-weight:bold;color:#fff;text-decoration:underline;}
							#frm_tryImemento .check a:hover{text-decoration:none;}
						#trySend{display:block;width:170px;margin:0 auto;padding:10px 20px;font-family:Arial, san-serif;font-size:16px;font-weight:bold;color:#fff;border:2px solid #fff;border-radius:20px;background:#fc9d00 url(../images/b_sendTry.png) 0 0 repeat-x;box-shadow:0 0 0 2px #e59922;cursor:pointer}
			#iMementoDest .confPromo{padding:20px 10px;border:2px solid #c5e6fe;border-radius:13px;background-color:#fff;}
				#iMementoDest .confPromo .dest{display:block;margin-bottom:20px;font-size:24px;font-weight:bold;text-align:center;color:#2770ab;}
					#iMementoDest .confPromo .dest span{font-size:18px;font-weight:normal;}
				#iMementoDest .confPromo .conf{display:block;width:210px;margin:0 auto 20px;padding:10px;font-family:Arial, san-serif;font-size:14px;font-weight:normal;color:#fff;border:2px solid #fff;border-radius:20px;background:#fc9d00 url(../images/b_sendTry.png) 0 0 repeat-x;box-shadow:0 0 0 2px #e59922;}
					#iMementoDest .confPromo .conf span{display:block;padding-left:40px;background:url(../images/b_conf.png) 0 50% no-repeat;}
						#iMementoDest .confPromo .conf strong{font-weight:bold;font-size:18px;}
				#iMementoDest .confPromo .moreInfo{width:150px;margin:0 auto;padding:10px 5px;border:2px solid #d8d8d8;border-radius:10px;}
			
			#iMementoDest .myQMementix {padding:20px 20px 30px 20px; border:1px solid #FFF; border-radius:8px; background:#8BB7DE url(../images/curve_modType4Fichas-top.png) 0 0 no-repeat; }
				.myQMementix .tit { display:inline-block; margin-bottom:15px; color:#FFF; font:normal 24px 'Arial', helvetica, sans-serif; }
				.myQMementix .resume { border:2px solid #d8d8d8; border-radius:8px; padding:20px; background-color:#FFF; text-align: center;}
				.myQMementix .resume p { float:left; border-bottom:1px solid #ccc; margin-bottom:15px; padding-bottom:15px; color:#7d7d7d; font:normal 15px 'Arial', Helvetica, sans-serif; text-align: left;}
				.myQMementix .resume p .cant { float:left; color:#00528d; font-size:18px; }
				.myQMementix .resume del, .myQMementix .resume ins {display:inline-block; width:100%; margin-bottom:10px; border-bottom:none; font:bold 20px 'Arial', helvetica, sans-serif;}
					.myQMementix .resume del, .myQMementix .resume del:hover { color:#852C25; }
					.myQMementix .resume ins, .myQMementix .resume ins:hover { color:#006000; font-size:26px; }

			#iMementoDest .appStore{display:block;width:159px;margin:35px auto 0;}
				.qmementix #modInformacion{float:none;margin:10px auto 0;}
					.qmementix #iMementoDest #modInformacion div{padding:10px 0 10px 10px;}
						.qmementix #modInformacion .verMas a{font-weight:normal;}
		#iMementoDest .footerTools{clear:both;margin:15px 0 0;padding:15px 0 0;text-align:right;list-style-type:none; float:right}
			#iMementoDest .footerTools li{display:inline;margin:0 10px 0 0;padding:0;vertical-align:middle;}
				#iMementoDest .footerTools span{font-size:12px;color:#8e8e8e;}

.qmementix .columnType1{float:left;width:680px;margin:15px 0;}
	#modFichasPrecio { margin-top:-15px; }
	.confImemento{padding:15px;border-radius:10px;background-color:#4f4f4f;box-shadow:0 1px 3px rgba(0,0,0,0.25);color:#fff;}
		.confImemento .entry{margin:25px 0 10px;padding-bottom:10px;border-bottom:1px solid #6b6b6b;}
			.confImemento .entry h3,
			.confImemento .sub_entry h4{margin-bottom:5px;font-weight:bold;font-size:20px;}
			.confImemento .sub_entry h4{color:#56778b;}
			.confImemento .entry p,
			.confImemento .sub_entry p{font-size:14px;}
		.confImemento .sub_entry{margin-bottom:30px;}
		.confImemento .tabs{margin:0;padding:0;}
			.confImemento .tabs li{float:left;display:block;margin:0 10px 0 0;padding:7px 10px;background-color:#292929;border-radius:10px 10px 0 0;}
			.confImemento .tabs .sel{background-color:#fff;}
				.confImemento .tabs a{font-size:14px;color:#fff;}
				.confImemento .tabs a:hover{text-decoration:underline;}
				.confImemento .tabs .sel a{color:#000;}
		.confImemento .tabContent{clear:both;padding-bottom:25px;background-color:#fff;border-radius:0 0 10px 10px;}
			.confImemento .tabContent fieldset label { vertical-align:middle; white-space:normal;font-size: 12px;font-weight: normal;}
			.confImemento .tabContent fieldset input { float:left; margin:0 5px 0 0; vertical-align: middle}
				.confImemento .tabContent ul { width:auto; margin:25px 0 0 40px; padding:0}
					.confImemento .tabContent li { display:inline-block; width:300px; padding:0; vertical-align:top}
			.confImemento .tabContent .packs{margin:0;padding:20px;color:#000;}
				.confImemento .tabContent .packs li{display:block;width:auto;position:relative;margin-bottom:30px;}
				.confImemento .tabContent .packs li:after{clear:both;display:block;height:0;visibility:hidden;content:"."}
					.confImemento .tabContent .packs h5{margin-bottom:10px;}
						.confImemento .tabContent .packs h5 a{font-size:20px;font-weight:bold;color:#004e71;}
					.confImemento .tabContent .packs p{font-size:13px;}
					.confImemento .tabContent .packs ul{width:460px;margin:10px 0 0;padding:0 145px 10px 0;border:1px solid #d5d5d5;border-width:1px 0;}
						.confImemento .tabContent .packs ul li{margin:10px 0 0;padding-left:15px;background:url(../images/i_arrow.png) 2px 4px no-repeat;}
					.confImemento .tabContent .packs .addCart{position:absolute;bottom:15px;right:0;}
.qmementix .sidebar{float:right;width:260px;margin:15px 0;}
	.qmementix .sidebar .miImemento{margin-bottom:20px;padding:20px 10px 10px;border-radius:10px;background-color:#5a5a5a;}
		.qmementix .sidebar .miImemento h2{margin:0 0 10px 10px;font-size:26px;font-weight:bold;color:#fff;}
		.qmementix .sidebar .miImemento .cesta{margin:0;padding:10px;border:1px solid #d8d8d8;border-radius:10px;background-color:#fff;}
			.qmementix .sidebar .miImemento .cesta li{margin:0;padding:0;text-align:right;}
				.qmementix .sidebar .miImemento .cesta .listMem{margin-bottom:5px;padding-bottom:5px;border-bottom:2px solid #5a5a5a;font-size:24px;font-weight:bold;color:#010101;}
				.qmementix .sidebar .miImemento .cesta .total{margin-bottom:30px;font-size:24px;font-weight:bold;color:#010101;}
				.qmementix .sidebar .miImemento .cesta .descuento{margin-bottom:5px;padding-bottom:5px;border-bottom:2px solid #5a5a5a;font-size:18px;font-weight:bold;color:#800;}
				.qmementix .sidebar .miImemento .cesta .productoTotal{display:block;text-align:left;font-size:12px;font-weight:normal;color:#515151;}
				.qmementix .sidebar .miImemento .cesta .precioTotal{font-size:24px;font-weight:bold;color:#004602;}
				.qmementix .sidebar .miImemento .cesta .reset{text-align:center;}
	.qmementix .sidebar .help{margin-bottom:20px;padding:20px;border:2px solid #ffcd4c;border-radius:10px;background:#ffedbd url(../images/b_help.png) 0 0 repeat-x;}
	.qmementix .sidebar .help h2{margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #ffcd4c;font-size:21px;font-weight:bold;color:#333;}
	.qmementix .sidebar .help a{display:block;margin-bottom:10px;padding:0 0 10px 15px;border-bottom:1px solid #ffcd4c;font-size:12px;text-decoration:underline;color:#00518c;background:url(../images/ico_verMas.png) 0 2px no-repeat;}
	.qmementix .sidebar .help a:hover{text-decoration:none;}
	.qmementix .sidebar .help p{font-size:12px;color:#333;}
		.qmementix .sidebar .help strong{display:block;margin-top:10px;font-size:27px;font-weight:bold;}
.qmementix .columnType1:after, .qmementix .sidebar:after{clear:both;display:block;height:0;visibility:hidden;content:"."}

.tryPromo .msgError { margin:5px; padding:10px; background: #fff; border:1px solid E00101 }
	.tryPromo .msgError ul { margin:0; padding:5px 10px }
		.tryPromo .msgError li { padding: 4px 0 4px 0;  background: none; color: #E00101; font-size:12px; list-style: disc  }

.fichas #gridWide.qmementix .modType4 {background: #161616; border-radius: 10px; }			
.fichas #gridWide.qmementix .fix, .fichas #gridWide.qmementix .descripcion .fix { background: none;  }		
	.qmementix .titleOpinion { color:#fff }

.fichas #gridWide.qmementix .cursoDet {border-radius: 0 0 10px 10px;}	
	
#iMementoDest .footerTools span a {color:#fff;}

.qmementix .bmarks {
    left: -170px;
    top: 15px;
}
.qmementix .bmarks .inner {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #C7E7FF;
    margin: 0;
}

.qmementix .bmarks .inner ul{
    margin-top: 10px;
}

.qmementix .bmarks img{
    margin-right: 3px;
    vertical-align: middle;
}


.qmementix #iMementoDest .footerTools ul li {
    float:left;
    display:block;
}

.qmementix #iMementoDest .footerTools .inner ul li{
    float: left;
    margin-bottom: 10px;
    width: 135px;
    padding-left: 3px;
}
#iMementoDest .footerTools li{
float:left;
display:block;
}
#iMementoDest .footerTools {
    padding:0;
}

#productlist tbody .pvp, #productlist tbody .pvp del { color:#852C25; }
	#productlist tbody .pvp-offer, #productlist tbody .pvp-offer ins { color:#006000; }
#prodQI {width:220px;}