/*para el avanzado*/
/* SUGGEST */

#busquedaAvanzada .jsonSuggestResults {
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-weight:normal;
	font-size:14px;
	top:55px;
	padding-left:23px;
	position:absolute;
	background: white;
	margin:0;
	z-index:100000;
	overflow:hidden;
	width:273px;
}

#busquedaAvanzada .jsonSuggestResults iframe
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px;/*must have for any big value*/
}


#busquedaAvanzada div.jsonSuggestResults div.resultItem {
	display:block;
	float:none;
	margin:0px;
	padding:5px;
	position:relative;
	z-index:100000;
	height:auto;
	cursor:pointer;
}


/* SUGGEST */

div.jsonSuggestResults {
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-weight:normal;
	top:242px;
	width:153px;
	position:absolute;
	background: #d1ebff;
	padding:0;
	margin:0;
	z-index:100000;
	overflow:hidden;
}

.jsonSuggestResults iframe
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px;/*must have for any big value*/
}


div.jsonSuggestResults div.resultItem {
	display:block;
	float:none;
	margin:0px;
	padding:5px;
	position:relative;
	z-index:100000;
	height:auto;
	cursor:pointer;
}

div#searchbox div.jsonSuggestResults p {color:black; text-align:left}

div.jsonSuggestResults div.resultItem.odd {background-color:#d1ebff;}
div.jsonSuggestResults div.resultItem.even {background-color:#d1ebff;}
div.jsonSuggestResults div.resultItem.hover {background-color:#81aed0;}

div.jsonSuggestResults div.resultItem img {float:left; margin-right:10px;}

div.jsonSuggestResults div.resultItem p {font-size:0.85em; margin:0px; padding:0px; }
div.jsonSuggestResults div.resultItem p strong {font-weight:bold;color:#4B90CC;}

div.jsonSuggestResults div.resultItem p.extra {position:absolute; bottom:3px; right:3px;}


/*para la cabecera*/
/* SUGGEST */

.buscador .jsonSuggestResults, .termSearch .jsonSuggestResults {
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-weight:normal;
	font-size:14px;
	top:26px;
	position:absolute;
	background: white;
	padding:0;
	margin:0;
	z-index:100000;
	overflow:hidden;
	width:227px;
}

#busquedaAvanzada .termSearch .jsonSuggestResults 
{
	top: 21px;
	margin-left: 1px;
	width: 270px;
}


.buscador .jsonSuggestResults iframe, .termSearch .jsonSuggestResults iframe
{
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px;/*must have for any big value*/
}


.buscador div.jsonSuggestResults div.resultItem, .termSearch div.jsonSuggestResults div.resultItem {
	display:block;
	float:none;
	margin:0px;
	padding:5px;
	position:relative;
	z-index:100000;
	height:auto;
	cursor:pointer;
}





























