	/**** --- Estructura --- *****/

#wrapper {  width:953px; margin-left: auto; margin-right: auto; text-align: left;   }
	#header { position: relative; height: 75px;  }
	#footer { width: 949px; margin: 0 auto  }


#gridThreeColumns, #commonGrid { margin-bottom: 21px; padding-top:10px  }				
	#commonGrid #subNavBar, #gridThreeColumns #subNavBar { float: left; width: 171px }
	#commonGrid #content { float: right; width: 762px; }


 
 
#gridTwoColumns .columnType1 { float: left; width: 704px;  }	
#gridThreeColumns .columnType1 { float: left; display: inline; width: 512px; margin-left: 21px;  }	
#gridTwoColumnsFichas .columnType1 {/*float:left;*/ width:258px}
#gridTwoColumnsFichas .columnType2 {/*float:right;*/ width:680px}

#gridTwoColumns .sideBar, #gridThreeColumns .sideBar { float: right; width: 235px  }		
	
#gridTwoColumns, #gridTwoColumnsTypeB, #gridTwoColumnsTypeC { margin-bottom: 21px; padding-top:10px  }	
	#gridTwoColumnsTypeB .columnType1 { float: left; width: 767px;  }	
	#gridTwoColumnsTypeB .sideBar { float: right; width: 171px  }
	
	#gridTwoColumnsTypeC .columnType1 { width:729px;}
	#gridTwoColumnsTypeC .sideBar { width:208px}	
	
.clearFix:after, #headerLinks li:after, #navBar ul:after, #categoriesTabs:after, #modAccesoAbonados li:after, .paginationResults:after, #faq .respuestas ul li:after, #modComprando ul li:after, .formulario .datos li:after, .colDatos1 .forgotPass:after, #finCompraForm .datos fieldset ul:after, #tops li:after, .consultenosMod .wrapConsulta:after, #modFormacion2 .formacionList li:after, #modMiMementix ul li:after, #novedades .description ul li:after, .fichas .modType4 .cursoDet .versiones ul li:after, #header #logo:after, div.calendars .listCalendar li:after, .package:after, .modType4 .boxProduct .cont:after, .integrado:after, #datosUsuario form .datos li:after, .modType4 .descripcion div.clear:after, #gridDatos .colDatos1 form .datos li:after, #cestaPaso1 #gridType3 .inner ul.ezsr-star-rating:after, .fichas .modType4 .descripcion .cursoDet .column1 ul li:after, #navBar li.buscador #buscadorSimple:after, #navBar li.buscador:after, #modActum:after { clear: both; display: block; height: 0; visibility: hidden; content: "." }



